.profile-container {
  margin: 2rem;
  background: #e4f1fe;
  padding: 2rem;
  border-radius: 2rem;
}

.skills-box {
  padding: 2rem;
}

.bio-box {
    margin: 2rem;
}

.project-container {
  background: #8dc6ff;
  padding: 2rem;
  font-family: sans-serif;
  margin: 1rem;
  margin-left: 2rem;
  border-radius: 1rem;
}

body {
  background: #8dc6ff;
}
