.hero-image {
    background-image: url('../../../src/assets/images/login.jpg');
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 600px;
    margin: 4rem auto;
    padding: 20px;


    &>div {
        display: flex;
        justify-content: space-between;
        margin: 0.3rem 0;
        font-size: 1.3rem;
        padding: 20px auto;
        box-sizing: border-box;


        label {
            flex: 0 3rem;
        }

        input {
            flex: 1;
            margin-left: 1rem;
            padding: 10px 7px;
            border-radius: 0.3rem;
            border: none;
        }

        button {
            border-radius: 0.7rem;
            padding: 0.3rem 0.8rem;
            font-size: 1.3rem;
            margin: 0.2rem auto;
            border: none;
            color: gray;
            background-color: white;
        }

        :link {
            text-align: center;
            color: black;
        }
    }
}